# Exercise 1.4.1

print the following pattern (using loops)

![image.png]()

In [ ]:
a = (1,2,3,4,5,4,3,2,1)

for i in a:
  print("X "*i)

X
X X
X X X
X X X X
X X X X X
X X X X
X X X
X X
X

# Exercise 1.4.2

write a script that will sum all numbers in the following string

In [ ]:
input_str = "n45as29@#8ss6"

sum = 0

for i in input_str:
  if i.isdigit():
    sum = sum + int(i)

print(sum)

34

# Exercise 1.4.3

write script that will convert an arbitary integer to binary number (number will be represented as string with only *0* and *1*). Avoid using *bin()* function or any other pythons default functions

In [ ]:
dec = 45
bin = ""
while(1):
  if dec%2 == 1:
    bin += "1"
    dec = (dec-1)/2
  else:
    bin += "0"
    dec = (dec)/2
  if dec == 0: break

bin = int(bin[::-1])
print(bin)

101101

# Exercise 1.5-1:

The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13. The next number in this series above is 8 + 13 = 21



Create a function that takes an integer as an input and return a list that contains all fibonaci numbers smaller than input integer

example:

*print(fibonaci(10))*

[0, 1, 1, 2, 3, 5, 8]

In [63]:
def fibonaci(upper_threshold: int) -> list:

  fib = [0,1]
  while(1):
    fib_next = fib[len(fib)-1] + fib[len(fib)-2]
    if fib_next < upper_threshold:
      fib.append(fib_next)
    else: break

  return fib

print(fibonaci(10))

[0, 1, 1, 2, 3, 5, 8]

# Exercise 1.5-2:

### Basic:

implement fucntion *display_as_digi* that will print an arbitary integer in segment display style

example:

*display_as_digi(588)*


![digit.png]()

In [1]:
def display_as_digi(number: int) -> None:
  
  digits = [int(x) for x in str(number)]
  print(digits)

  line1 = ""
  line2 = ""
  line3 = ""
  line4 = ""
  line5 = ""

  for i in range(len(digits)):
    if   digits[i] == 1: line1 += "  x"
    elif digits[i] == 2: line1 += "xxx"
    elif digits[i] == 3: line1 += "xxx"
    elif digits[i] == 4: line1 += "x  "
    elif digits[i] == 5: line1 += "xxx"
    elif digits[i] == 6: line1 += "xxx"
    elif digits[i] == 7: line1 += "xxx"
    elif digits[i] == 8: line1 += "xxx"
    elif digits[i] == 9: line1 += "xxx"
    elif digits[i] == 0: line1 += "xxx"
    line1 += " "
  
    if   digits[i] == 1: line2 += "  x"
    elif digits[i] == 2: line2 += "  x"
    elif digits[i] == 3: line2 += "  x"
    elif digits[i] == 4: line2 += "x  "
    elif digits[i] == 5: line2 += "x  "
    elif digits[i] == 6: line2 += "x  "
    elif digits[i] == 7: line2 += "  x"
    elif digits[i] == 8: line2 += "x x"
    elif digits[i] == 9: line2 += "x x"
    elif digits[i] == 0: line2 += "x x"
    line2 += " "
  
    if   digits[i] == 1: line3 += "  x"
    elif digits[i] == 2: line3 += "xxx"
    elif digits[i] == 3: line3 += "xxx"
    elif digits[i] == 4: line3 += "xxx"
    elif digits[i] == 5: line3 += "xxx"
    elif digits[i] == 6: line3 += "xxx"
    elif digits[i] == 7: line3 += "  x"
    elif digits[i] == 8: line3 += "xxx"
    elif digits[i] == 9: line3 += "xxx"
    elif digits[i] == 0: line3 += "x x"
    line3 += " "
  
    if   digits[i] == 1: line4 += "  x"
    elif digits[i] == 2: line4 += "x. "
    elif digits[i] == 3: line4 += "  x"
    elif digits[i] == 4: line4 += "  x"
    elif digits[i] == 5: line4 += "  x"
    elif digits[i] == 6: line4 += "x x"
    elif digits[i] == 7: line4 += "  x"
    elif digits[i] == 8: line4 += "x x"
    elif digits[i] == 9: line4 += "  x"
    elif digits[i] == 0: line4 += "x x"
    line4 += " "
  
    if   digits[i] == 1: line5 += "  x"
    elif digits[i] == 2: line5 += "xxx"
    elif digits[i] == 3: line5 += "xxx"
    elif digits[i] == 4: line5 += "  x"
    elif digits[i] == 5: line5 += "xxx"
    elif digits[i] == 6: line5 += "xxx"
    elif digits[i] == 7: line5 += " x "
    elif digits[i] == 8: line5 += "xxx"
    elif digits[i] == 9: line5 += "xxx"
    elif digits[i] == 0: line5 += "xxx"
    line5 += " "
 
  print(line1)
  print(line2)
  print(line3)
  print(line4)
  print(line5)
  pass
display_as_digi(588)

[5, 8, 8]
xxx xxx xxx
x   x x x x
xxx xxx xxx
  x x x x x
xxx xxx xxx

### Extension

extend our sement number printer to be able to print decimal numbers

# Exercise 2

### 1

- Create a numpy array with shape 5x5, that contains number from 25..to 0
- create a function that takes an arbitary numpy array as an input and sets all numbers smaller than user defined threshold to 0
- test your function on your array
- make one implementation using loops and one withnout using loops, compare execution time with *time* library

In [28]:
import numpy as np
import time

def zero_lower(numpy_arr: np.array, threshhold: int):
  return (numpy_arr >= threshhold).astype(int)*numpy_arr

def zero_lower_loops(numpy_arr: np.array, threshhold: int):
  edit_arr = numpy_arr
  for i in np.nditer(edit_arr, op_flags=['readwrite']):
    if i[...] < threshhold:
      i[...] = 0
  
  return edit_arr

arr = np.random.randint(0,25,size=(5,5))
print("Array:\n",arr)

threshhold = 10
print("Threshhold: ",threshhold)

a_st = time.time()
a = zero_lower(arr,threshhold)
a_en = time.time()

b_st = time.time()
b = zero_lower_loops(arr,threshhold)
b_en = time.time()

print("Result:\n",a)
print("Processing time without loops: ",(a_en - a_st)*1000,"miliseconds")
print("Processing time with loops: ",(b_en - b_st)*1000,"miliseconds")

Array:
 [[24 11  5  2 19]
 [12 15 22 23 10]
 [12 13 24  2 22]
 [11  7  9 17 14]
 [ 7 12 21 12 12]]
Threshhold:  10
Result:
 [[24 11  0  0 19]
 [12 15 22 23 10]
 [12 13 24  0 22]
 [11  0  0 17 14]
 [ 0 12 21 12 12]]
Processing time without loops:  0.13327598571777344 miliseconds
Processing time with loops:  0.1621246337890625 miliseconds

### 2
 - lets return to our digi_diplay, create a function that will take an arbitary intiger an an input and display it as an binary image in segment display style.
*hint: to show an image use library matplotlib.pyplot, also you will maybe find usefull function np.concatenate*

In [ ]:
def show_in_digi(input_integer: int) -> None:
  pass

show_in_digi(5289) will show:

![image.png]()

# Exercise 3

Use google colab dataset loaded in the lecture and do following operations:

- check what *dataset.describe()* does

- display all rows where *total_bedrooms* is bigger than 310

- drop also first and last row and also

- save mean of values in *households* columns to variable, using *matplotlib* display number show number of household in graph (x axis would be ID, y axis - numbers of households) as dots with the same colour, display also mean as a single line in the graph with different colour as dots is

 - check if any of the columns contains NaN values, if yes replace the NaN values with arithmetic mean of whole dataset

 - display *lat* and *long* into plot, *lat* would be on *x* axis and *long* on *y* axis

- choose two arbitary columns and normalize all values inside using min-max normalization:

- Create a Correlation Matrix from all columns

In [31]:
import pandas as pd

dataset = pd.read_csv('sample_data/california_housing_test.csv')
dataframe = pd.DataFrame(dataset)

dataframe.loc[dataframe['total_bedrooms'] > 310]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
7,-120.65,35.48,19.0,2310.0,471.0,1341.0,441.0,3.2250,166900.0
8,-122.84,38.40,15.0,3080.0,617.0,1446.0,599.0,3.6696,194400.0
9,-118.02,34.08,31.0,2402.0,632.0,2830.0,603.0,2.3333,164200.0
...,...,...,...,...,...,...,...,...,...
2990,-118.23,34.09,49.0,1638.0,456.0,1500.0,430.0,2.6923,150000.0
2991,-117.17,34.28,13.0,4867.0,718.0,780.0,250.0,7.1997,253800.0
2993,-117.91,33.60,37.0,2088.0,510.0,673.0,390.0,5.1048,500001.0
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0